<!--#######################################-->
<!-- Copyright (c) 2026  Dong Zhaorui.     -->
<!-- All rights reserved.                  -->
<!-- Author: Dong Zhaorui 847235539@qq.com -->
<!-- Date  : 2026-06-30                    -->
<!--#######################################-->

<launch>
    <node name="chassis_impedance" pkg="hex_ros_chassis_impedance" type="chassis_impedance.py" output="screen">
        <!-- load default parameters -->
        <rosparam file="$(find hex_ros_chassis_impedance)/config/ros1/params.yaml"/>
        <!-- robot model urdf -->
        <param name="model_urdf" value="$(find hex_ros_urdf_maver_x4)/urdf/model.urdf"/>
        <!-- subscribe -->
        <remap from="chs_state" to="chs_state"/>
        <remap from="teleop_keyboard_state" to="teleop_keyboard_state"/>
        <!-- publish -->
        <remap from="chs_ctrl" to="chs_ctrl"/>
    </node>
</launch>
