<launch>
    <arg name="robot_host" default="192.168.1.100"/>
    <arg name="robot_port" default="8439"/>

    <include file="$(find hex_ros_teleop_keyboard)/launch/ros1/teleop_keyboard.launch"/>
    <include file="$(find hex_ros_robot_chassis)/launch/ros1/trigger_a.launch">
        <arg name="robot_host" value="$(arg robot_host)"/>
        <arg name="robot_port" value="$(arg robot_port)"/>
    </include>
    <include file="$(find hex_ros_demo_chassis_impedance)/launch/ros1/chassis_impedance_trigger_a.launch">
        <arg name="use_sim_time" value="false"/>
    </include>
</launch>
